%h2
  = Time.now.year 
  Draft
-if @players.present?
  - @players.each do |player|
    %ul 
      %li
        = player.first_name 
        = player.last_name
      %li= player.ipo
-else
  %li No players held.
