* {
  margin: 0;
}
html, body {
  height: 100%;
}

.layout-nav {
  min-width: 900px;
  border-bottom: 2px solid black;
  color: white;
  position: fixed;
  ul {
    float: right;
    margin-top: 9px;
  }
  li {
    display: inline;
    a {
      color: white;
    }
  }
}

.layout-footer {
  text-align: center;
  border-top: 2px solid black;
  padding-top: 15px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 50px auto -120px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 120px; /* '.push' must be the same height as 'footer' */
}
