%nav.layout-nav.top-bar.fixed.contain-to-grid
  .small-2.columns= link_to 'FortuneRookie',
    root_path
  .small-3.columns
    %ul
      %li= link_to 'Dashboard',
        current_user
      %li.divder
      %li= link_to 'Players',
        players_path
      %li.divder
      %li= link_to 'Log Out', destroy_user_session_path
